

.main4{background:linear-gradient(to right, rgb(0, 0, 0) , rgb(234, 0, 0));
min-height: 600px;}

    .showsearch{
        width: 200px !important;
        display: inline-block;
        margin-bottom: 10px;
    }